[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
mysqlclient = "*"
mysql-replication = "*"
sqlalchemy = "*"
email-validator = "*"
pytest = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.11"
