[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
email-validator = "*"
flask = {version = "*", extras = ["async"]}
flask-bcrypt = "*"
flask-login = "*"
flask-migrate = "*"
flask-restful = "*"
flask-socketio = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
mysqlclient = "*"
python-dotenv = "*"
sqlalchemy = "*"
pytest = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.11"
