<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login plataforma</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
  <div class="login-form">
    <form action="/login" method="POST">
      {{ form.hidden_tag() }}
      <h1>Acceso de usuarios</h1>
      <div class="content">
        <div class="input-field">
          {{ form.email.label }} {{ form.email }}
        </div>
        <div class="input-field">
          {{ form.pwd.label }} {{ form.pwd }}
        </div>
        <div class="action">
          {{ form.submit(class="button")}}
        </div>
      </div>
    </form>
  </div>
  <!-- partial -->  
  <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
