<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasarela Plataforma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Pasarela Plataforma Aserraderos</h1>
        <button>
            <a href="{{url_for('userRoutes.logout')}}">Cerrar sesión</a>
        </button>
    </header>
    
    <main>
        
        <div class="option">
            <h2>Configuraciones de Administración</h2>
            <p>Configuración de Bases de datos, Usuarios de la Plataforma, Elección de datos(tabla) a visualizar en tiempo real</p>
            <a href="{{ url_for('userRoutes.admin_users') }}">Ir a Administración</a>
        </div>
        <div class="option">
            <h2>Acceder a la plataforma</h2>
            <p>Plataforma Streamlit de Visualización y Representación de datos del aserradero</p>
            <a href="#">Ir a Plataforma</a>
        </div>
    </main>
</body>
</html>